* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

.main {
  background-color: #200a9c;
  padding: 30px;
  margin: 50px auto;
  max-width: 500px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.main h1 {
  font-size: 30px;
  text-align: center;
}

.form {
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form input[type=text] {
  height: 40px;
  padding: 0 12px;
  font-size: 18px;
  border: 1px solid #0a0331;
  min-width: 80%;
}

.form button[type=submit] {
  height: 40px;
  border: 1px solid #0a0331;
  width: 40px;
  background-color: #bf046b;
  color: white;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
}



.form button[type=submit]:hover {
  background-color: #a00579;
}
